<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExamenFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sac</display-name>
    <servlet-name>sac</servlet-name>
    <servlet-class>sac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sac</servlet-name>
    <url-pattern>/sac</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletResta</display-name>
    <servlet-name>ServletResta</servlet-name>
    <servlet-class>ServletResta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletResta</servlet-name>
    <url-pattern>/ServletResta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMultiplicacion</display-name>
    <servlet-name>ServletMultiplicacion</servlet-name>
    <servlet-class>ServletMultiplicacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMultiplicacion</servlet-name>
    <url-pattern>/ServletMultiplicacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDivision</display-name>
    <servlet-name>ServletDivision</servlet-name>
    <servlet-class>ServletDivision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDivision</servlet-name>
    <url-pattern>/ServletDivision</url-pattern>
  </servlet-mapping>
</web-app>